@model IEnumerable<ASPnetPhishing.Models.PaymentRecord>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "SelectInvoice")
</p>
<table class="table">
    <tr>
        <th>
            Amount
        </th>
        <th>
            Card Number
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardRecord.CardNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PaymentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PaymentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PaymentId })
        </td>
    </tr>
}

</table>
