@model IEnumerable<ASPnetPhishing.Models.vwInvoice>

@{
    ViewBag.Title = "SelectInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enter Invoice Number</h2>

@using (Html.BeginForm("Index", "Payments", FormMethod.Get))
{
    

    @Html.TextBox("invoiceId") <input type="submit" value="Search"/>

}

<table class="table">
    <tr>
        <th>
            Invoice Number
        </th>
        <th>
            Invoice Date
        </th>
        <th>
            Invoice Total
        </th>
        <th>
            Customer
        </th>
        <th>
            Payment Card Number
        </th>
        <th>
            Ship To
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zip Code
        </th>
        <th>
            Shipping Phone
        </th>
        <th>
            Shipping Email
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice_Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Card_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ship_To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip_Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("<<   Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
