@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="container">
        <ul class="nav navbar-nav" style="color:#5a6b4a;">
            <li>@Html.ActionLink("Invoices", "Index", "Invoices")</li>
            <li>@Html.ActionLink("LineItems", "Index", "LineItems")</li>
            <li>@Html.ActionLink("Payments", "Index", "Payments")</li>
            <li>@Html.ActionLink("Card Records", "Index", "CardRecords")</li>
            <li>@Html.ActionLink("Products", "Index", "Products")</li>
            <li>@Html.ActionLink("Categories", "Index", "ProductCategories")</li>
            <li>@Html.ActionLink("Shipping", "Index", "Shippings")</li>
        </ul>
    </div>
}