@model IEnumerable<ASPnetPhishing.Models.Invoice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Invoice</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Invoice Date
        </th>
        <th>
            Invoice Total
        </th>
        <th>
            Customer 
        </th>
        <th>
            Payment Number
        </th>
        <th>
            Shipping First Name
        </th>
        <th>
            Shipping Last Name
        </th>
        <th>
            Shipping Address
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zip Code
        </th>
        <th>
            Shipping Phone
        </th>
        <th>
            Confirmation Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipping.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipping.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipping.ShippingAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipping.ShippingCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipping.ShippingState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipping.ShippingZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipping.ShippingPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Shipping.ShippingEmail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
