@model IEnumerable<ASPnetPhishing.Models.vwInvoice>

@{
    ViewBag.Title = "Invoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Invoices</h2>

<hr style="border-top: 2px solid black;" />

@using (Html.BeginForm("Index", "Invoices", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container form-horizontal">
        <div class="col-md-3">
            @Html.Label(" Search Invoice Number", new { @class = "control-label" })
        </div>
        <div class="col-md-9">
            @Html.TextBox("invoiceId", "", new { @class = "form-control", @type = "number", @style = "display: inline-block;"})
            <input type="submit" value="Search" class="btn btn-success" />
            @Html.ActionLink("Show All", "Index", "Invoices", new { @class = "btn btn-default" } )
        </div>
    </div>
}

<hr style="border-top: 2px solid black;"/>

<p>
    <a href="@Url.Content("~/ProductLists")" class="btn btn-warning">Create New</a>
</p>

<table class="table">
    <tr>
        <th>
            Invoice Number
        </th>
        <th>
            Invoice Date
        </th>
        <th>
            Invoice Total
        </th>
        <th>
            Customer
        </th>
        <th>
            Payment Card Number
        </th>
        <th>
            Ship To
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zip Code
        </th>
        <th>
            Shipping Phone
        </th>
        <th>
            Shipping Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Invoice_Number)*@

            <a class="btn btn-default" href="/Invoices/Details/@Url.Content(item.Invoice_Number.ToString())">@item.Invoice_Number</a>
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Card_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ship_To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Invoice_Number }, htmlAttributes: new { @class = "btn btn-warning" })
        </td>
    </tr>
}

</table>
