@model IEnumerable<ASPnetPhishing.Models.AspNetUser>

@{
    ViewBag.Title = "SelectUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select Customer</h2>
<br />

@using (Html.BeginForm("SelectUser", "Invoices", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <b>Search By:</b> 
    @Html.RadioButton("searchBy", "Email", true) <text>Email</text>
    @Html.RadioButton("searchBy", "Phone") <text>Phone Number</text>
    @Html.RadioButton("searchBy", "Username") <text>Username</text>

    <br /><br />

    @Html.TextBox("value", null, htmlAttributes: new { @class = "form-control", @style = "display:inline-block;" }) <input type="submit" value="Search" class="btn btn-default"/>

}

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @using (Html.BeginForm("AddNewInvoice", "Invoices", FormMethod.Get))
                    {
                        @Html.HiddenFor(modelItem => item.Id, htmlAttributes: new { @name = "Id" }) <input type="submit" value="Select" />
                    }
                </td>
            </tr>
        }
    }
</table>