@model IEnumerable<ASPnetPhishing.Models.Shipping>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shipping</h2>

<hr style="border-top: 2px solid black;" />

<p>
    @Html.ActionLink("Create New", "SelectUser", null, htmlAttributes: new { @class = "btn btn-warning"})
</p>
<table class="table">
    <tr>
        <th>
            Customer
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Shipping Address
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zip Code
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingZipCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, htmlAttributes: new { @class = "btn btn-warning"}) 
            @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" }) 
        </td>
    </tr>
}

</table>
