@model ASPnetPhishing.Models.LineItem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LineItem</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Invoice Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice.Id)
        </dd>

        <dt>
            Product Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            Qty
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

        <dt>
            Total
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineTotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LineItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
