@model ASPnetPhishing.Models.Cart

@{
    ViewBag.Title = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<table class="table">
    <tr>
        <th>
            Quantity
        </th>
        <th></th>
        <th>
            Image
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
        <th>
            Total
        </th>
        <th></th>
    </tr>
    
    @if (Model != null)
    {
        foreach (var item in Model.CartItems)
        {
            <tr>
                @using (Html.BeginForm("UpdateQty", "ProductLists", FormMethod.Get))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(modelItem => item.Product.Id, htmlAttributes: new { @name = "productId" })
                <td style="width:100px;">
                    @Html.EditorFor(modelItem => item.Qty, new { htmlAttributes = new { @class = "form-control", @style = "width:100px;" } })
                </td>
                <td style="width:150px;">
                    <input type="submit" value="Update" class="btn btn-warning" />
                </td>
                <td>
                    <a href="@Url.Action("Details", "ProductLists", new { id = item.Product.Id})">
                        @if (item.Product.ImageFilename != null)
                        {
                            <img src="~/Images/@Url.Content(item.Product.ImageFilename)" alt="" height="100" width="100" />
                        }
                        else
                        {
                            <img src="~/Images/noImage.png" alt="" height="100" width="100" />
                        }
                    </a>
                </td>
                <td>
                    @Html.ActionLink(item.Product.Name, "Details", new { id = item.Product.Id})
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LineTotal)
                </td>
                }
                <td>
                    @using (Html.BeginForm("RemoveItem", "ProductLists", FormMethod.Get))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(modelItem => item.Product.Id, htmlAttributes: new { @name = "productId" })
                        <input type="submit" value="Remove" class="btn btn-danger" />
                    }
                </td>
            </tr>
            
        }
    }
</table>

<hr />

@if (Model != null)
{
    <div class="container">
        <div class="col-md-6">
            @Html.ActionLink("Back To Your List", "ProductList", "ProductLists", htmlAttributes: new { @class = "btn btn-default", @style = "margin:50px;"})
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    <strong>@Html.DisplayNameFor(model => model.Subtotal)</strong>
                </dt>
                <dd style="text-align:right;">
                    <strong>@Html.DisplayFor(model => model.Subtotal)</strong>
                </dd>

                <dt>
                    <strong>@Html.DisplayNameFor(model => model.TaxAmount)</strong>
                </dt>
                <dd style="text-align:right;">
                    <strong>@Html.DisplayFor(model => model.TaxAmount)</strong>
                </dd>

                <dt></dt>
                <dd><hr /></dd>

                <dt>
                    <strong>@Html.DisplayNameFor(model => model.Total)</strong>
                </dt>
                <dd style="text-align:right;">
                    <strong>@Html.DisplayFor(model => model.Total)</strong>
                </dd>
            </dl>            
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
}