@model ASPnetPhishing.Models.Invoice

@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CheckOut</h2>

<hr />

<h2>Please select your payment method and enter your shipping information.</h2>

@using (Html.BeginForm("Confirmation", "ProductLists", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserID)

        <dl class="dl-horizontal">
            <dt>
                Invoice Date
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateTime)
            </dd>
            <dt>
                Invoice Total
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total)
            </dd>
        </dl>

        <hr />

        <h4>Using Card:</h4>
        @Html.DropDownListFor(c => c.PaymentRecord.CardRecordId, (SelectList) ViewBag.Card, "Select a Card", htmlAttributes: new { @class = "form-control", @style = "display:inline-block"})

        @Html.ActionLink("Add New Card", "AddCard", "ProductLists",  htmlAttributes: new { @class = "btn btn-warning"})

        <h4>Ship To:</h4>
        @Html.DropDownListFor(s => s.ShippingId, (SelectList) ViewBag.Shipping, "Select an Address", htmlAttributes: new { @class = "form-control", @style = "display:inline-block" })

        @Html.ActionLink("Add New Shipping Address", "AddAddress", "ProductLists", htmlAttributes: new { @class = "btn btn-warning"})

        <hr />

        <div class="container">
            @if (ViewBag.ErrorMessage != null)
            {
                <h3 class="text-danger">@*@Html.Label((string) ViewBag.ErrorMessage)*@Please select a card on file and shipping option before proceed to checkout.</h3>
            }
        </div>

        <div style="text-align:center;">
            <input type="submit" value="Proceed to Checkout" class="btn btn-success" />
        </div>
    </div>

}
