@model ASPnetPhishing.Models.Invoice

@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirmation</h2>

<h4>Thank you for your purchase, @Model.AspNetUser.UserName!</h4>
<h4>Your purchased item/s will be shipped in the next 1 - 2 business day/s to the following address:</h4>

<dl class="dl-horizontal">
    <dt>
        Shipping Address
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Shipping.ShippingAddress) <span> </span>
        @Html.DisplayFor(model => model.Shipping.ShippingCity) <span>, </span>
        @Html.DisplayFor(model => model.Shipping.ShippingState) <span> </span>
        @Html.DisplayFor(model => model.Shipping.ShippingZipCode)
    </dd>

</dl>

<h3>Your card information:</h3>

<dl class="dl-horizontal">
    <dt>
        Payment Amount
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PaymentRecord.PaymentAmount)
    </dd>

    <dt>
        Card Number
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PaymentRecord.CardRecord.CardNumber)
    </dd>

    <dt>
        Expiration Date
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PaymentRecord.CardRecord.ExpDate)
    </dd>

    <dt>
        CCV
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PaymentRecord.CardRecord.CCV)
    </dd>

    <dt>
        Billing Address
    </dt>

    <dd>
        @Html.DisplayFor(model => model.PaymentRecord.CardRecord.BillingAddress) <span> </span>
        @Html.DisplayFor(model => model.PaymentRecord.CardRecord.BillingCity) <span>, </span>
        @Html.DisplayFor(model => model.PaymentRecord.CardRecord.BillingState) <span> </span>
        @Html.DisplayFor(model => model.PaymentRecord.CardRecord.BillingZip)
    </dd>

</dl>


    <h4>We appreciate your business.</h4>
