@model ASPnetPhishing.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>Product</h4>
    <hr style="border-top: 2px solid black;"/>
    <div class="container">
        <div class="col-lg-4">
            @if (Model.ImageFilename != null)
            {
                <img src="~/Images/@Url.Content(Model.ImageFilename)" alt="" height="250" width="250" />
            }
            else
            {
                <img src="~/Images/noImage.png" alt="" height="250" width="250" />
            }
        </div>
        <div class="col-lg-8">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    Category
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductCategory.CategoryName)
                </dd>

            </dl>

            <hr style="border-top: 2px solid black;"/>

            <p style="display:inline-block;">
                @Html.ActionLink("<<   Back to List", "ProductList")
            </p>

            @using (Html.BeginForm("Cart", "ProductLists", FormMethod.Get))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    <input type="submit" value="Add To Cart" class="btn btn-success"/>
                </div>
            }
        </div>
    </div>
</div>

