@model IEnumerable<ASPnetPhishing.Models.Product>

@{
    ViewBag.Title = "Index";
}




<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.CategoryId == 5)
    {
    <tr>
        <td>
            <a href="@Url.Action("Details", "Permit", new { id = item.Id })">
                @if (item.ImageFilename != null)
                    {
                    <img src="~/Images/@Url.Content(item.ImageFilename)" alt="" height="50" width="50" />
                }
                else
                {
                    <img src="~/Images/noImage.png" alt="" height="50" width="50" />
                }
            </a>
        </td>

        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Add To Cart", "Cart", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-success" })
        </td>
    </tr>
    }
}

</table>
